@media screen and (max-width: $break-big) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: $break-small) {
    body {
        font-size: 12px;
    }
    
    header {
        height: $appHeaderHeightMobile;
    }
    
    iframe.youtube__video {
    margin-right: 2em;
}
    footer {
        height: $appFooterHeightMobile;
    }
    
    .module + * {
        height: $appBodyHeightMobile;
    }

    .movie {
        @include flex-direction(column-reverse);
    }

    .youtube__video {
        margin-top: 2em;
    }
}
