$break-big: 768px;
$break-small: 481px;

$font: Helvetica, Verdana, Tahoma, Arial; 

$appPadding: 3vw;

$appHeaderHeight: 10vh;
$appBodyHeight: 82vh;
$appFooterHeight: 8vh;

$appHeaderHeightMobile: 5vh;
$appBodyHeightMobile: 90vh;
$appFooterHeightMobile: 5vh;

$appBackground: #FFF;
$appContentColor: #000;

$appBodyDefaultFontSize: 20px;